<%= form_for :urls, :url => { :action => :create } do |f| %>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
 
  <p>
    <%= f.label :project %><br>
    <%= f.text_area :project %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>