<p>
  <%= @urls.id %>
</p>
<p>
  <strong>URL:</strong>
  <%= @urls.address %>
</p>
 
<p>
  <strong>Facebook:</strong>
  <%= @urls.facebook %>
</p>

<p>
  <strong>StubleUpon:</strong>
  <%= @urls.stumbleupon %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @urls.twitter %>
</p>

<p>
  <strong>Delicious:</strong>
  <%= @urls.delicious %>
</p>